<ion-list>
  <button navPush="DrinkPage" [navParams]="{ drinkId: drink.id }" ion-item *ngFor="let drink of displayDrinks">
    <ion-thumbnail item-start>
      <img-loader [src]="drink.thumbnail"></img-loader>
    </ion-thumbnail>
    {{ drink.name }}
  </button>
  <ion-item-divider *ngIf="drinks && drinks.length >= 250">Showing max 250 drinks</ion-item-divider>
</ion-list>

<ion-infinite-scroll (ionInfinite)="showMoreDrinks($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>