<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cocktail Companion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding *ngIf="starsLoaded && !numberOfStars" class="center">
    <p text-center>
      Starred drinks will appear here. Looks like you haven't starred
      <ion-icon name="star"></ion-icon> any drinks yet.
      You can shake your device to show a random drink!
    </p>
  </div>

  <drink-list *ngIf="stars.length" [drinks]="stars"></drink-list>
</ion-content>