<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="navigateToRandomDrink()">
        <ion-icon name="shuffle"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>Cocktail Companion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding *ngIf="starsLoaded && !stars.length" class="center">
    <p text-center>
      Starred drinks will appear here. Looks like you haven't starred
      <ion-icon name="star"></ion-icon> any drinks yet.
    </p>
  </div>
  <div *ngIf="!starsLoaded" class="center">
    <ion-spinner></ion-spinner>
  </div>
  
  <drink-list *ngIf="stars.length" [drinks]="stars"></drink-list>
</ion-content>