<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ ingredient.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <div class="badge-container">
    <ion-badge *ngIf="ingredient.type">{{ ingredient.type }}</ion-badge>
  </div>

  <img-loader *ngIf="ingredient.name" class="main-image" [src]="ingredient.image"></img-loader>

  <p padding-horizontal>{{ ingredient.description }}</p>

  <h1 *ngIf="drinks.length" padding-horizontal>Drinks with {{ ingredient.name }}</h1>
  <drink-list [drinks]="drinks"></drink-list>
</ion-content>