<ion-header>

  <ion-navbar>
    <ion-title>{{ ingredient.strIngredient }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding-top>
  <img src="{{ 'http://www.thecocktaildb.com/images/ingredients/' + ingredient.strIngredient + '-Medium.png' }}" />
  <h1 padding-horizontal>Cocktails containing {{ ingredient.strIngredient }}</h1>
  <ion-list>
    <button (click)="goToDrink(drink.idDrink)" ion-item *ngFor="let drink of drinks">
      <ion-thumbnail item-start>
        <img [src]="drink.strDrinkThumb" *ngIf="drink.strDrinkThumb">
      </ion-thumbnail>
      {{ drink.strDrink }}
    </button>
  </ion-list>
</ion-content>