<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)" placeholder="Margarita, White Russian..."></ion-searchbar>

  <ion-list>
    <button (click)="goToDrink(item.idDrink)" ion-item *ngFor="let item of searchResults">
      <ion-thumbnail item-start>
        <img [src]="item.strDrinkThumb" *ngIf="item.strDrinkThumb">
      </ion-thumbnail>
      {{ item.strDrink }}
    </button>
  </ion-list>
</ion-content>