<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ drink.strDrink }}</ion-title>
    <ion-buttons end>
      <button (click)=toggleStarred(drink.idDrink) ion-button icon-only><ion-icon name="star{{ isStarred ? '' : '-outline'}}"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="badge-container">
      <ion-badge *ngIf="drink.strAlcoholic">{{ drink.strAlcoholic }}</ion-badge>
      <ion-badge *ngIf="drink.strCategory">{{ drink.strCategory }}</ion-badge>
      <ion-badge *ngIf="drink.strGlass">{{ drink.strGlass }}</ion-badge>
  </div>

  <img-loader *ngIf="drink.idDrink" class="main-image" [src]="drink.strDrinkThumb"></img-loader>
  <ion-segment [(ngModel)]="measurement">
    <ion-segment-button value="metric">
      Metric
    </ion-segment-button>
    <ion-segment-button value="imperial">
      Imperial
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <button (click)="goToIngredient(ingredient.name)" ion-item *ngFor="let ingredient of drinkIngredients">
      {{ ingredient.name }}
      <span item-end>{{ ingredient.measure | measure:measurement }}</span>
    </button>
  </ion-list>

  <p padding-left padding-right>{{ drink.strInstructions }}</p>
</ion-content>