<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ drink.name }}</ion-title>
    <ion-buttons end>
      <button (click)=toggleStarred(drink.id) ion-button icon-only><ion-icon name="star{{ isStarred ? '' : '-outline'}}"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="badge-container">
      <ion-badge>{{ drink.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic' }}</ion-badge>
      <ion-badge *ngIf="drink.category">{{ drink.category }}</ion-badge>
      <ion-badge *ngIf="drink.glass">{{ drink.glass }}</ion-badge>
  </div>

  <img-loader *ngIf="drink.id" class="main-image" [src]="drink.thumbnail"></img-loader>
  <ion-segment [(ngModel)]="measurement">
    <ion-segment-button value="metric">
      Metric
    </ion-segment-button>
    <ion-segment-button value="imperial">
      Imperial
    </ion-segment-button>
  </ion-segment>
  <ion-list no-lines>
    <button (click)="goToIngredient(ingredient.name)" ion-item *ngFor="let ingredient of drink.ingredients">
      <ion-thumbnail item-left>
        <img-loader [src]="ingredient.thumbnail"></img-loader>
      </ion-thumbnail>
      {{ ingredient.name }}
      <span item-end>{{ ingredient.amount | measure:measurement }}</span>
    </button>
  </ion-list>

  <p padding-left padding-right>{{ drink.instructions }}</p>
</ion-content>