<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ drink.strDrink }}</ion-title>
    <ion-buttons end>
      <button (click)=toggleStarred(drink.idDrink) ion-button icon-only><ion-icon name="star{{ isStarred ? '' : '-outline'}}"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="main-image" *ngIf="drink.strDrinkThumb" [src]="drink.strDrinkThumb" />
  <ion-list>
    <button (click)="goToIngredient(ingredient.name)" ion-item *ngFor="let ingredient of drinkIngredients">
      {{ ingredient.name }}
      <span item-end>{{ ingredient.measure }}</span>
    </button>
  </ion-list>
  <p padding-left padding-right>{{ drink.strInstructions }}</p>
</ion-content>